# Logs
logs
*.log
npm-debug.log*

# Dependencias
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output

# Build outputs
dist/
build/
.next/
out/

# Archivos de entorno (NUNCA subir credenciales)
.env
.env.local
.env.*.local

# Editor configs
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Temp
*.tmp
*.temp
tmp/

# Debug
debug/
*.debug

# AWS Keys
*.pem
*.ppk

# Flutter / Dart
**/build/
**/*.apk
**/*.aab
**/*.ipa
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/GeneratedPluginRegistrant.*
**/android/local.properties
**/android/key.properties
**/*.jks
**/*.keystore
